version: '3'
services:
  mongodb:
    image: mongo
    container_name: mongodb

  backend:
    image: rakesh8289/backend
    container_name: backend
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
    depends_on:
      - mongodb

  frontend:
    image: rakesh8289/frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
