version: '3'
services:

  mongodb:
    image: mongo
    container_name: mongodb
    networks:
      - app-network

  backend:
    image: rakesh8289/backend
    container_name: backend
    networks:
      - app-network
    environment:
      - MONGO_URL=mongodb://mongodb:27017/test
      - PORT=8080

  frontend:
    image: rakesh8289/frontend
    container_name: frontend
    networks:
      - app-network
    ports:
      - "80:80"
    depends_on:
      - backend

networks:
  app-network:
    driver: bridge
