version: '3'

services:

  mongodb:
    image: mongo
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    command: --bind_ip_all
    networks:
      - app-network

  backend:
    image: rakesh8289/backend
    container_name: backend
    depends_on:
      - mongodb
    environment:
      - MONGO_URL=mongodb://mongodb:27017/test
      - PORT=5000
    networks:
      - app-network

  frontend:
    image: rakesh8289/frontend
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "80:80"
    networks:
      - app-network

networks:
  app-network:
